.about{
    max-width: 980px;
    // background-color: aquamarine;
    margin: 0 auto;


    .about-top-section {

    }
    

    .about-bottom-secion {
    margin-top: 200px;

        h3 {

        }

        .client {
            max-width: 676px;
            min-height: 150px;
            margin-bottom: 38px;
            display: flex;


            .client-image {
                width: 260px;
                height: 150px;
                background-image: url(../images/profile1.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;


                // .client1 {
                //     background-image: url(../images/profile1.jpeg);
                //     background-size: cover;
                //     background-repeat: no-repeat;
                //     background-position: center;

                // }

                
                // .client2 {
                //     background-image: url(../images/profile2.jpg);
                //     background-size: cover;
                //     background-repeat: no-repeat;
                //     background-position: center;

                // }

                // img {
                //     width: 100%;
                    
                // }
            }
    
    
            .client-quote {
                position: relative;
                // background-color: blue;
                min-height: 50px;
                width: 100%;
                padding-left: 25px;

                p {
                    &:last-of-type {
                        margin-bottom: 25px;
                    }
                }



                .client-name {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                
                }
            }

        }

    

    }

}


@media only screen and (max-width: 600px) {
    .about {

        padding: 10px;

       .about-bottom-secion {

       }
    }
}